@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.full-width {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  margin-top: 1rem;
}

.btn-primary {
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px solid #273131;
  color: #273131;
  font-size: 0.8rem;
  font-weight: 600;
}

.btn-primary:hover {
  background: #ecaf4e;
  color: #fff;
  border-color: #fff;
}

h2 {
  font-size: 2.3rem;
  font-weight: 200;
  margin-bottom: 2rem;
  line-height: 1.1;
}

p {
  margin-bottom: 1rem;
  font-weight: 200;
  font-size: 0.9rem;
}

.container-sm {
  width: 85%;
}

progress {
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 4px;
  background-color: #fff;
}

progress::-webkit-progress-bar {
  background-color: #fff;
}

progress::-webkit-progress-value {
  background-color: #273131;
}

.navbar {
  padding: 1rem 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.navbar .logo {
  font-size: 1.5rem;
  color: #273131;
  font-weight: 500;
}

.navbar ul a {
  color: #273131;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 200;
  margin-left: 1.5rem;
}

.navbar ul a:hover {
  color: #ecaf4e;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.col-span-2 {
  grid-column: span 2;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.col-span-1 {
  grid-column: span 1;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.hero {
  font-size: 0;
  height: 90vh;
}

.hero-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f5e3d7;
  padding: 0 2rem;
  font-size: 1rem;
}

.hero-article .welcome {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.hero-article h2 {
  color: #273131;
}

.hero-article h2 span {
  font-weight: 400;
}

.hero-article p {
  color: #66615e;
}

.about article {
  padding: 2rem;
}

.about article .hightlight {
  color: #ecaf4e;
}

.about article p {
  color: #66615e;
}

.about .skills {
  padding: 2rem;
  background: #ecaf4e;
}

.about .skills h2,
.about .skills p {
  color: #fff;
}

.about .skills .skill {
  margin-bottom: 0.6rem;
}

.about .skills .skill h6 {
  font-size: 0.8rem;
  font-weight: 500;
}

.about .skills .skill p {
  margin-bottom: 0rem;
  font-size: 0.8rem;
  font-weight: 500;
}

.tech-skills .tech-skill {
  text-align: center;
  padding: 2rem 4rem;
  color: #fff;
}

.tech-skills .tech-skill:nth-child(1) {
  background-color: #ecaf4e;
}

.tech-skills .tech-skill:nth-child(2) {
  background-color: #ef663b;
}

.tech-skills .tech-skill:nth-child(3) {
  background-color: #273131;
}

.tech-skills .tech-skill:nth-child(4) {
  background-color: #fff;
  color: #273131;
}

.tech-skills .tech-skill div {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.tech-skills .tech-skill h3 {
  font-weight: 200;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
/*# sourceMappingURL=style.css.map */