@import "vars";
@import "reset";
@import "general";

// Navbar
.navbar {
  padding: 1rem 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  .logo {
    font-size: 1.5rem;
    color: $bold-text-color;
    font-weight: 500;
  }
  ul {
    a {
      color: $bold-text-color;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 200;
      margin-left: 1.5rem;
      &:hover {
        color: $highlight-text-color;
      }
    }
  }
}
