@import "vars";
@import "reset";
@import "general";

// Navbar
.navbar {
  padding: 1rem 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  .logo {
    font-size: 1.5rem;
    color: $bold-text-color;
    font-weight: 500;
  }
  ul {
    a {
      color: $bold-text-color;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 200;
      margin-left: 1.5rem;
      &:hover {
        color: $secondary;
      }
    }
  }
}

//Grid container
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: stretch;
}
.col-span-2 {
  grid-column: span 2;
}
.col-span-1 {
  grid-column: span 1;
}

// hero
.hero {
  font-size: 0;
  height: 90vh;
}
.hero-article {
  display: flex;
  justify-content: start;
  align-items: center;
  background: $primary;
  padding: 0 2rem;
  font-size: 1rem;
  .welcome {
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  h2 {
    color: $bold-text-color;
    span {
      font-weight: 400;
    }
  }
  p {
    color: $light-text-color;
  }
}

// About
.about {
  article {
    padding: 2rem;
    .hightlight {
      color: $secondary;
    }
    p {
      color: $light-text-color;
    }
  }
  .skills {
    padding: 2rem;
    background: $secondary;
    h2,
    p {
      color: #fff;
    }
    .skill {
      margin-bottom: 0.6rem;
      h6 {
        font-size: 0.8rem;
        font-weight: 500;
      }
      p {
        margin-bottom: 0rem;
        font-size: 0.8rem;
        font-weight: 500;
      }
    }
  }
}

//tech skills
.tech-skills {
  .tech-skill {
    text-align: center;
    padding: 2rem 4rem;
    color: #fff;
    &:nth-child(1) {
      background-color: $secondary;
    }
    &:nth-child(2) {
      background-color: $tertiary;
    }
    &:nth-child(3) {
      background-color: $bold-text-color;
    }
    &:nth-child(4) {
      background-color: #fff;
      color: $bold-text-color;
    }
    div {
      margin-bottom: 1rem;
      font-size: 2rem;
    }
  }
}

//Experience
.experience {
  margin-bottom: 3rem;
  font-size: 0;
  article {
    font-size: 1rem;
    background-color: $tertiary;
    color: #fff;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      margin-bottom: 0.5rem;
    }
    .previous-companies {
      font-size: 0.8rem;
    }
    .task {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 1rem;
      h3 {
        margin-bottom: 0;
        span {
          font-size: 0.8rem;
          color: $bold-text-color;
          font-weight: 500;
        }
      }
      i {
        font-size: 1.5rem;
        display: inline-block;
        margin-right: 1rem;
      }
    }
  }
}
